{% extends 'entities/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="col-md-8 offset-md-2">
  <h1>Awesome Meeting Experience</h1>
  <p class="lead">Welcome to Cisco Oslo!</p>
  <p>
    We are happy to have you for your meeting <br>
    <p class="text-center">
    <strong>{{ meeting.title }}</strong><br>
    <strong>{{ meeting.time_start }}</strong> to <strong>{{ meeting.time_end }}</strong>
    </p>
    <p>
      I am
    </p>
      <div class="form-group">
        <select id="person_select" class="form-control">
          {% for p in meeting.participants.all %}
          <option value="{{ p.id }}">{{ p.first_name }} {{ p.last_name }}</option>
          {% endfor %}
        </select>
      </div>
    <p> and I want to </p>
    <a class="btn btn-warning" href="{{ meeting.location.get_mazemap_url }}">I want to explore!</a>
    <a class="btn btn-success" id="btn_go" href="#">I am in the lobby! Take me to my meeting</a>
</div>
{% endblock %}
{% block js %}
  $('#btn_go').on('click', function(){
    var person = $('#person_select').val();
    var url = "http://192.168.1.246:8080/meeting/{{ meeting.meeting_id }}/person/" + person + "/navigate";
    window.location.href = url;
  });
{% endblock %}
